.card{
    width: 18rem; 
    margin-left: 20px; 
    margin-top: 20px;
    position:absolute;
}
.card-img-top{

    margin-top:20px; 
    width:50%px; 
    height:50%; 
    position:relative; 
}
.card-icon{
    width: 5%;
    height : 5%;

}
