
.Container{
    display: grid;
    height: 100vh;
    grid-template-columns: 0.13fr 0.4fr 1fr 1fr;
    grid-template-rows: 0.25fr 1fr 1fr 1fr;
    grid-template-areas: 
    "Sidebar nav nav nav"
    "Sidebar content1 content2 content2"
    "Sidebar content1 content2 content2"
    "Sidebar content1 content2 content2";
    grid-gap: 0.3rem;
}
nav{
    background-color: aliceblue;
    grid-area: nav;
}
.Sidebar{
    background-color: darkblue;
    grid-area: Sidebar;
}
.content1{

    grid-area: content1;

}
.content2{

    grid-area: content2;
}

